<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1> "WELCOME TO MANI ARTS" ,</h1>
           <h1>PRO : K.SUBRAMANYAM</h1> 
           <h1>
            CELL : 9502504906 
           </h1>  
            <h1>
            PLACE : YERRAGUNTLA , KADAPA (DIST), AP. 
            </h1>
        <h2><a href="{% url 'som:sagar' %}"> GO TO HOME PAGE</a></h2>
    </center>
   
</body>
</html>